
<section class="media">
  <div class="media-content card">
      <section class=" hero is-bold is-light is-marginless">
        <div class="hero-body">
          <h1 class=" modal-card-title has-text-centered title-is-1 is-large has-text-weight-bold"
              style="margin-top: 20px; margin-bottom: 20px;">
            Gardner App Development
          </h1>
          <h2 class=" subtitle has-text-centered is-large subtitle-is-1 ">Everything Internet </h2>
        </div>
      </section>
  </div>
</section>


<div class="container is-centered  is-bold is-light" style="margin-top: 5px; ">
  <nav class="breadcrumb is-centered has-bullet-separator is-medium text-strong" aria-label="breadcrumbs "
  style="width: 100%;margin-bottom: auto; margin-top: auto"
  >
    <ul class="is-centered table-of-contents">
      <li class="is-large"><a href="#">Home</a></li>
      <li><a href="https://medium.com/@c0reysc0rner63">Essay's</a></li>
      <li><a href="https://podcasts.apple.com/us/podcast/dylan/id1479097455?i=1000465752477">Corey's Corner</a></li>
    </ul>
  </nav>
</div>

<section class="section" style="padding-top: 10px">
  <div class="tile is-ancestor box has-background-light">
  <div class="tile is-parent is-4 has-background-white">
    <div class="tile is-child box">
    <article class=' media notification is-info'>
      <figure class="media-left">
								<span class="icon" style="padding-right: 10px">
									<i class="fas fa-dove fa-css3-alt icon is-large fa-3x"></i>
								</span>
      </figure>
      <div class="media-content">
        <div class="content is-marginless">
          <h1 class="title is-size-3 is-centered is-marginless">Flutter</h1>
          <p class="is-size-5 is-marginless">
            Flutter is an Awesome tool for building Wonderful iOS applications.
            Within just a few months the app you've always dreamed of can become a reality!
          </p>
        </div>
      </div>
    </article>
    </div>
  </div>

  <div class="tile is-parent is-4 has-background-white">
    <div class="tile is-child box">
    <article class="media notification is-danger">
      <figure class="media-left">
								<span class="icon" style="padding-right: 10px">
									<i class="fas fa-gem fa-css3-alt icon is-large fa-3x"></i>
								</span>
      </figure>
      <div class="media-content">
        <div class="content is-marginless">
          <h1 class="title is-size-3 is-centered is-marginless">Ruby on Rails</h1>
          <p class="is-size-5 is-marginless">
            Drag and Drop websites are lame and unoriginal. Differentiate yourself from the competition by owning a custom Ruby on Rails App.
          </p>
        </div>
      </div>
    </article>
    </div>
    </div>

    <div class="tile is-parent is-4 has-background-white">
      <div class="tile is-child box">
      <article class=" media notification is-warning">
        <figure class="media-left">
								<span class="icon" style="padding-right: 10px">
									<i class="fab fa-python fa-css3-alt icon is-large fa-3x"></i>
								</span>
        </figure>
        <div class="media-content">
          <div class="content is-marginless">
            <h1 class="title is-size-3 is-centered is-marginless">Python</h1>
            <p class="is-size-5 is-marginless">
              With Python I've automated everything from Bio-informatical analysis to sending Emails.
           Every enterprise has room to become more efficient!
            </p>
          </div>
        </div>
      </article>
      </div>
    </div>
  </div>
</section>

<!--Image section-->

<section class="section" style="padding-top: 10px">
  <div class="tile is-ancestor has-background-light">
    <figure class="tile is-parent ">
      <%=image_tag("Home.png", alt:"", class: "tile is-child box")  %>
    </figure>
    <figure class="tile is-parent">
      <%=image_tag("Section_List.png", alt:"", class: "tile is-child box")  %>
    </figure>
    <figure class="tile is-parent ">
      <%=image_tag("Item.png", alt:"", class: "tile is-child box")  %>
    </figure>
    <figure class="tile is-parent ">
      <%=image_tag("CheckOut.png", alt:"", class: "tile is-child box")  %>
    </figure>
  </div>
</section>

<div class="container" style="padding-top: 10px">
  <div class="columns has-background-light">
    <div class="column">
      <section class="section box">
      <h1 class="title">
        Full Stack Web Development
      </h1>
        <p class="subtitle">What kind of Web Application are You looking to build? Let's build an original website that stands out from the crowd.</p>
      </section>
    </div>
    <div class="column">
      <section class="section box">
        <h1 class="title">
        Custom iOS Apps
        </h1>
        <p class="subtitle"> Have great ideas but don't know where to start? If you've thought of it I can build it!
        </p>
      </section>
    </div>
  </div>
</div>

<div style="padding-top: 40px">
<footer class="footer has-background-dark" style="padding-bottom: 5px; padding-top: 5px">
  <div class="is-centered">
  <p class="has-text-light">Gardner App Development Est. 2020</p>
  </div>
</footer>
</div>


